# Inspect GT-commentaries-ocr

In [6]:
from ajmc.ocr.preprocessing.clean_dataset import get_ocr_dataset_text_stats
data_path = '/Users/sven/data/GT-commentaries-OCR/data'
df = get_ocr_dataset_text_stats(data_path)

df

       total_chars  greek_chars  latin_chars
count  3364.000000  3364.000000  3364.000000
mean     40.504756    10.574019    20.262485
std      19.486746    13.109963    19.170218
min       0.000000     0.000000     0.000000
25%      31.000000     0.000000     0.000000
50%      39.000000     4.000000    17.000000
75%      56.000000    20.000000    36.000000
max     174.000000    62.000000   148.000000

,file_name,total_chars,greek_chars,latin_chars,is_greek,is_latin
0,cu31924087948174_0063_60.gt.txt,37,0,30,False,True
1,cu31924087948174_0102_0.gt.txt,15,8,0,True,False
2,cu31924087948174_0051_40.gt.txt,61,31,6,False,False
3,cu31924087948174_0083_53.gt.txt,36,0,29,False,True
4,cu31924087948174_0051_9.gt.txt,41,31,0,True,False
...,...,...,...,...,...,...
3359,Wecklein1894_0109_25.gt.txt,20,0,7,False,False
3360,Wecklein1894_0080_3.gt.txt,3,0,0,False,False
3361,Wecklein1894_0007_17.gt.txt,58,0,47,False,False
3362,Wecklein1894_0109_29.gt.txt,69,31,16,False,False
3363,Wecklein1894_0109_37.gt.txt,68,21,14,False,False

In [7]:
import numpy as np

print('total lines', len(df))
print('Purely greek lines', len(df[df['is_greek'] == True]))
print('Purely latin lines', len(df[df['is_latin'] == True]))
print('Mixed lines', len(df[np.logical_and(df['greek_chars'] > 0, df['latin_chars']>0 )]))

total lines 3364
Purely greek lines 746
Purely latin lines 1314
Mixed lines 964

In [9]:
df['total_chars'][df['is_greek']==True].describe()

count    746.000000
mean      31.365952
std       14.780774
min        2.000000
25%       21.000000
50%       36.000000
75%       40.000000
max       86.000000
Name: total_chars, dtype: float64

# Inspect PoGreTra

In [1]:
from ajmc.ocr.preprocessing.clean_dataset import get_ocr_dataset_text_stats
data_path = '/Users/sven/data/pogretra-v1.0/Data'
df = get_ocr_dataset_text_stats(data_path)

df

        total_chars   greek_chars   latin_chars
count  38232.000000  38232.000000  38232.000000
mean      55.440835     34.048624      8.305268
std       57.447854     35.825286     27.332779
min        1.000000      0.000000      0.000000
25%       50.000000     16.000000      0.000000
50%       57.000000     42.000000      0.000000
75%       64.000000     48.000000      6.000000
max     3034.000000   1796.000000   1434.000000

,file_name,total_chars,greek_chars,latin_chars,is_greek,is_latin
0,nnc1.50178386-1593613693_0028_31.gt.txt,59,48,0,True,False
1,nnc1.50178386-1593613693_0026_6.gt.txt,61,53,0,True,False
2,nnc1.50178386-1593613693_0020_34.gt.txt,58,42,2,False,False
3,nnc1.50178386-1593613693_0012_14.gt.txt,68,54,0,True,False
4,nnc1.50178386-1593613693_0038_16.gt.txt,63,53,0,True,False
...,...,...,...,...,...,...
38227,scholiagraeodyss02homeuoft_0244_13.gt.txt,25,12,1,False,False
38228,scholiagraeodyss02homeuoft_0244_25.gt.txt,55,24,12,False,False
38229,scholiagraeodyss02homeuoft_0244_37.gt.txt,65,20,32,False,False
38230,scholiagraeodyss02homeuoft_0367_11.gt.txt,64,40,0,True,False
38231,scholiagraeodyss02homeuoft_0244_29.gt.txt,67,13,30,False,False

In [3]:
import numpy as np
print('total lines', len(df))
print('Purely greek lines', len(df[df['is_greek'] == True]))
print('Purely latin lines', len(df[df['is_latin'] == True]))
print('Mixed lines', len(df[np.logical_and(df['greek_chars'] > 0, df['latin_chars']>0 )]))

total lines 38232
Purely greek lines 25661
Purely latin lines 5433
Mixed lines 6443

### Sylinks in pogretra

In [4]:
import os
data_path = '/Users/sven/data/pogretra-v1.0/Data'
links = []
for root, dirs, files in os.walk(data_path):
    for file in files:
        if file.endswith('.gt.txt'):
            path = os.path.join(root,file)
            if os.path.islink(path):
                links.append(path)